In [1]:
from keras.utils import to_categorical
from keras import layers
from keras import models
from keras.preprocessing.image import ImageDataGenerator, array_to_img, img_to_array, load_img
import matplotlib.pyplot as plt
import numpy as np
import os
from PIL import Image
from matplotlib import image
from matplotlib import pyplot
import pandas as pd
from keras.utils import to_categorical

Using TensorFlow backend.

In [11]:
test_df = pd.read_csv('../German_Traffic_Sign_Classification/gtsrb-german-traffic-sign/Test.csv')
test_df

       Width  Height  Roi.X1  Roi.Y1  Roi.X2  Roi.Y2  ClassId            Path
0         53      54       6       5      48      49       16  Test/00000.png
1         42      45       5       5      36      40        1  Test/00001.png
2         48      52       6       6      43      47       38  Test/00002.png
3         27      29       5       5      22      24       33  Test/00003.png
4         60      57       5       5      55      52       11  Test/00004.png
...      ...     ...     ...     ...     ...     ...      ...             ...
12625     42      41       5       6      37      36       12  Test/12625.png
12626     50      51       6       5      45      46       33  Test/12626.png
12627     29      29       6       6      24      24        6  Test/12627.png
12628     48      49       5       6      43      44        7  Test/12628.png
12629     32      31       6       5      27      26       10  Test/12629.png

[12630 rows x 8 columns]

In [12]:
test_df.shape

(12630, 8)

In [13]:
test_df_filtered = test_df[test_df['ClassId'] <=4]

In [14]:
test_df_filtered

       Width  Height  Roi.X1  Roi.Y1  Roi.X2  Roi.Y2  ClassId            Path
1         42      45       5       5      36      40        1  Test/00001.png
14        43      41       5       5      37      36        4  Test/00014.png
20        32      33       5       6      27      28        4  Test/00020.png
23        32      33       5       5      27      28        3  Test/00023.png
24        59      65       5       6      54      60        1  Test/00024.png
...      ...     ...     ...     ...     ...     ...      ...             ...
12583     38      37       6       5      33      32        1  Test/12583.png
12589     42      44       6       6      37      39        3  Test/12589.png
12593    130     121      12      10     119     111        3  Test/12593.png
12607     34      34       5       5      29      29        1  Test/12607.png
12614     31      33       5       5      26      28        0  Test/12614.png

[2640 rows x 8 columns]

In [18]:
train_df = pd.read_csv('../German_Traffic_Sign_Classification/gtsrb-german-traffic-sign/Train.csv')
print(train_df.shape)
train_df.head()

(39209, 8)

,Width,Height,Roi.X1,Roi.Y1,Roi.X2,Roi.Y2,ClassId,Path
0,27,26,5,5,22,20,20,Train/20/00020_00000_00000.png
1,28,27,5,6,23,22,20,Train/20/00020_00000_00001.png
2,29,26,6,5,24,21,20,Train/20/00020_00000_00002.png
3,28,27,5,6,23,22,20,Train/20/00020_00000_00003.png
4,28,26,5,5,23,21,20,Train/20/00020_00000_00004.png

In [22]:
train_df_filtered = test_df[test_df['ClassId'] <=4]
print(train_df_filtered.shape)
train_df_filtered.head()

(2640, 8)

    Width  Height  Roi.X1  Roi.Y1  Roi.X2  Roi.Y2  ClassId            Path
1      42      45       5       5      36      40        1  Test/00001.png
14     43      41       5       5      37      36        4  Test/00014.png
20     32      33       5       6      27      28        4  Test/00020.png
23     32      33       5       5      27      28        3  Test/00023.png
24     59      65       5       6      54      60        1  Test/00024.png